<html ng-app="moreDirectivesApp">
    <head>
        <title>More Directives</title>
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <h1>More Directives</h1>
        <div ng-controller="ModeDirectivesController as ctrl">
        
        <input type="checkbox" ng-model="ctrl.checked"></input>
        <p ng-hide="ctrl.checked">Show some content</p>
            <div ng-repeat="obj in ctrl.myList">
            
            <p>Element: {{$index+1}}</p>
            <p>First: {{$first}}</p>
            <p>Even: {{$even}}
            <p>Name: {{obj.name}}</p>
            <p>Age: {{obj.age}}</p>
            <hr/>
            </div>
        </div>

  
    </body>
 
</html> 