<html ng-app="ContactApp">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
            <script src="app.js"></script>
            <script src="appConfig.service.js"></script>
            <script src="appname.service.js"></script>
            <script src="contactdata.service.js"></script>
            <script src="contact.controller.js"></script>

</head>

<body>

    <div class="container" ng-controller="ContactCtrl as ctrl">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="contact in ctrl.contacts" ng-click="ctrl.selectContact($index)">
                        <span>{{contact.first_name + " " + contact.last_name}}</span>
                    </li>
                </ul>
                <button class="btn btn-default" ng-click="ctrl.addContact()">Add</button>
            </div>
            <div class="col-md-6">
                <div class="alert alert-success" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
                <div class="alert alert-danger" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                        Picture
                    </a>
                    </div>
                    <div class="media-body">
                        <button ng-hide="ctrl.editMode" class="btn btn-default" ng-click="ctrl.toggleEditMode()">Edit</button>
                        <button ng-show="ctrl.editMode" class="btn btn-default" ng-click="ctrl.saveUser()">Save</button>
                        <p>
                            <h6>Name</h6>
                        </p>
                        <p>
                            <span>First Name</span>
                            <span ng-hide="ctrl.editMode"> {{ctrl.selectedContact.last_name}}</span>
                            <input ng-show="ctrl.editMode" type="text" class="form-control" ng-model="ctrl.selectedContact.last_name"></input>
                        </p>
                        <p>
                            <span>Last Name</span>
                            <span ng-hide="ctrl.editMode"> {{ctrl.selectedContact.first_name}}</span>
                            <input ng-show="ctrl.editMode" type="text" class="form-control" ng-model="ctrl.selectedContact.first_name"></input>
                        </p>
                        <div>
                            <p>
                                <h6>Gender</h6>
                            </p>
                            <p>
                                <span ng-hide="ctrl.editMode"> {{ctrl.selectedContact.gender}}</span>
                                <input ng-show="ctrl.editMode" type="text" class="form-control" ng-model="ctrl.selectedContact.gender"></input>
                            </p>
                            <p>
                                <h6>Contact Information</h6>
                            </p>
                            <p>
                                <span>Email Address</span>
                                <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.email}}</span>
                                <input ng-show="ctrl.editMode" type="text" class="form-control" ng-model="ctrl.selectedContact.email"></input>
                            </p>
                            <p>
                                <span>IP Address</span>
                                <span ng-hide="ctrl.editMode">{{ctrl.selectedContact.ip_address}}</span>
                                <input ng-show="ctrl.editMode" type="text" class="form-control" ng-model="ctrl.selectedContact.ip_address"></input>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>